@media (min-width: 768px) {
  .container { max-width: 720px; }
}
.jobad-title {
  margin-bottom: 1em;
  font-family: Georgia, serif;
}

#jobad {
  background: #f4f4f4;
  margin-top: 2em;
  padding-top: 1em
}
